# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.lock
.DS_Store
.buildlog/
.history

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# Android
.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/**/gradle-wrapper.jar
**/android/captures/
*.jks

# iOS
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/xcuserdata
**/ios/Flutter/ephemeral
**/ios/Flutter/.last_build_id

# macOS
**/macos/Flutter/ephemeral

# Windows / Linux generated
**/windows/flutter/generated_plugin_registrant.*
**/linux/flutter/generated_plugin_registrant.*

# Symbols
app.*.symbols

emulator/
build-tools/
platform-tools/